{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/no-children-prop": "off",
    "@next/next/no-page-custom-font": "off",
    "react/jsx-key": "off",
    "@next/next/no-img-element": "off",
    "react/jsx-no-target-blank": "off",
    "react-hooks/rules-of-hooks":"off",
    "@next/next/no-html-link-for-pages": "off"
  }
}
