html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: 20px;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.roadmap__item {
  padding: 25px;
  background-color: #f2effc;
}
@media (min-width: 768px) {
  .roadmap__item {
    padding: 35px;
  }
}
.roadmap__item:not(.no-border) {
  border-radius: 20px;
}
.roadmap__inner {
  gap: 40px;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .roadmap__inner {
    flex-direction: row;
    text-align: left;
    gap: 20px;
  }
}
.roadmap__thumb {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0 30px rgb(153, 101, 244);
}
.roadmap__thumb span {
  font-size: calc(1.35rem + 1.0285714286vw);
  font-weight: 700;
  color: #fff;
}
@media (min-width: 1400px) {
  .roadmap__thumb span {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  .roadmap__content {
    width: calc(100% - 190px);
  }
}
.roadmap__content h4 {
  margin-bottom: 1rem;
}
.roadmap__content p {
  max-inline-size: 92ch;
}

.rating, .social, ul,
ol {
  list-style: none;
}
.rating, .roadmap__inner, .social {
  align-items: center;
}
.rating, .accordion__button, .roadmap__inner, .social, .social-btns {
  display: flex;
  flex-wrap: wrap;
}
.social {
  gap: 15px;
}